html {
    height: 100%;
    min-width: 1000px;
}

body {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    background-color: RGB(109, 104, 117);
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ui_container {
    flex: content;
    align-items: center;
    justify-content: center;
}

#canvas_container {
    position: relative;
    flex: 0 0 650px;
    height: 100%;
}

#canvas_container canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#glCanvas {
    z-index: -1;
}

#particleCanvas {
    z-index: 0;
    background-color: transparent;
}

.center {
    text-align: center;
}


.ui_text {
    text-align: center;
    color: #ffe5e5;
    font-size: 20px;
}

.tips {
    text-align: center;
    color: #ffe5e5;
    font-size: 14px;
}

.button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 30px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    background-color: #ffacac;
    color: #4B4E53;
    transition: all 0.3s;
}

.button:hover {
    border-radius: 0px;
    color: #4B4E53;
    background-color: #ffe5e5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: animatedBackground 5s linear infinite alternate;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}